<!--Для коректної роботи лоадера потрібно:
    1. Вставити розмітку яка знаходиться нижче 
    для прикладу в section або div де він повинин відображатися на час очікування проміса.
    (Також можна встановити його будь-де якщо він буде використовуватись як position absolute) 
    2. Якщо використовується проміс та then() для подальшої роботи з обєктом необхідно в сам 
    then() вставити element.classlist.add("loader-wrapper-hide") для того щоб по закінченню 
     роботи з промісом скрити сам лоадер-->

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>