{{!-- {{#each}} --}}
<li class="arround__item">
    <div class="arround-info">
        <span class="arround-name">Air Pods</span>
        <span class="arround-price"><span class="arround-currency">грн</span> 2500</span>
    </div>
    <img src="https://enter.online/images/detailed/49/apple_series3_mqkv2_1.png" alt="" class="arround-img">
</li>
{{!-- {{/each}} --}}

{{!-- =================have_to_be===================== --}}

{{!-- {{#each}} --}}
<li class="arround__item">
    <div class="arround-info">
        <span class="arround-name">Smart TV</span>
        <span class="arround-price"><span class="arround-currency">грн</span> 5000</span>
    </div>
    <img src="https://enter.online/images/detailed/49/apple_series3_mqkv2_1.png" alt="" class="arround-img">
</li>
{{!-- {{/each}} --}}