{{!-- {{#each}} --}}
<li class="arround__item">
    <div class="arround-info">
        <span class="arround-name">Air Pods</span>
        <span class="arround-price"><span class="arround-currency">грн</span> 2500</span>
    </div>
    <img src="https://store.iland.ua/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/a/i/airpodspro_1.png"
        alt="" class="arround-img">
</li>
{{!-- {{/each}} --}}

{{!-- =================have_to_be===================== --}}

{{!-- {{#each}} --}}
<li class="arround__item">
    <div class="arround-info">
        <span class="arround-name">Smart TV</span>
        <span class="arround-price"><span class="arround-currency">грн</span> 5000</span>
    </div>
    <img src="https://xvp.akamaized.net/assets/public/vpn-software/smart-tv-vpn@2x-b17f66be14ccfd4c71ee8b5e5e305bd1c3a82032b33a3cfd0f51710a03d7f3ef.png"
        alt="" class="arround-img">
</li>
{{!-- {{/each}} --}}

<ul class="horizontal-block">
    <li class="arround__item">
        <div class="arround-info">
            <span class="arround-name">Air Pods</span>
            <span class="arround-price"><span class="arround-currency">грн</span> 2500</span>
        </div>
        <img src="https://store.iland.ua/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/a/i/airpodspro_1.png"
            alt="" class="arround-img">
    </li>

    <li class="arround__item">
        <div class="arround-info">
            <span class="arround-name">Smart TV</span>
            <span class="arround-price"><span class="arround-currency">грн</span> 5000</span>
        </div>
        <img src="https://xvp.akamaized.net/assets/public/vpn-software/smart-tv-vpn@2x-b17f66be14ccfd4c71ee8b5e5e305bd1c3a82032b33a3cfd0f51710a03d7f3ef.png"
            alt="" class="arround-img">
    </li>

    <li class="arround__item">
        <div class="arround-info">
            <span class="arround-name">Air Pods</span>
            <span class="arround-price"><span class="arround-currency">грн</span> 2500</span>
        </div>
        <img src="https://store.iland.ua/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/a/i/airpodspro_1.png"
            alt="" class="arround-img">
    </li>
</ul>