{{!-- <li class="user-info__fullname">{{firstName}} {{secondName}}</li>
      <li class="user-info__mail">{{email}}</li>
      <li class="user-info__phone">{{phone}}</li> --}}

{{!-- ========================================================================================== --}}
<li class="user-info__fullname">User Name</li>
<li class="user-info__mail">test@gmail.com</li>
<li class="user-info__phone">+38 (063) 123-45-67</li>
{{!-- ========================================================================================== --}}
