{{!-- <button class="account-btn">
  <div class="account-avatar">
    <img class="js-avatar avatar avatar--hover" src="{{avatar}}" alt="Пользователя: {{firstName}} {{secondName}}"
      width="44" height="44">
    <span class="account-title">Привет, {{firstName}}!</span>
  </div>
</button> --}}

{{!-- ========================================================================================== --}}
<div class="account-avatar">
  <img class="avatar avatar--hover" src="https://i.ibb.co/K7j3rZk/99-512.png" alt="User avatar" width="44" height="44">
  <span class="account-title">Мой кабинет</span>
</div>
{{!-- ========================================================================================== --}}
