<div class="container category-list">
    <div class="category-info">
        <span class="category-name">Популярное</span>
        <a href="#" class="view-all">Смотреть все</a>
    </div>
    <p class="category-description">Товары домашнего обихода, видео, аудио, наушники, камеры,
        аксессуары и многое другое.</p>
    <ul class="things-list"></ul>
    <button class="basket"></button>
</div>