{{!-- {{#each}} --}}
<li class="things-item">
    <img src="https://glavcom.ua/img/article/5628/29_main.jpg" alt="" class="thing-img">
    <span class="thing-name">Частный дом в Рахове</span>
    <span class="thing-price">20000<span class="thin-current">грн</span></span>
</li>
{{!-- {{/each}} --}}



{{!-- ==========example=========== --}}
<li class="things-item">
    <img src="https://enter.online/images/detailed/49/apple_series3_mqkv2_1.png" alt="" class="thing-img">
    <span class="thing-name">JBL</span>
    <span class="thing-price">2000<span class="thin-current">грн</span></span>
</li>

<li class="things-item">
    <img src="https://i.grenka.ua/shop/1/5/810/playstation-neo-slim_062.png" alt="" class="thing-img">
    <span class="thing-name">Playstation 4</span>
    <span class="thing-price">10500<span class="thin-current">грн</span></span>
</li>

<li class="things-item">
    <img src="https://enter.online/images/detailed/49/apple_series3_mqkv2_1.png" alt="" class="thing-img">
    <span class="thing-name">Soundbar</span>
    <span class="thing-price">6000<span class="thin-current">грн</span></span>
</li>

<li class="things-item">
    <img src="https://enter.online/images/detailed/49/apple_series3_mqkv2_1.png" alt="" class="thing-img">
    <span class="thing-name">JBL</span>
    <span class="thing-price">2000<span class="thin-current">грн</span></span>
</li>

<li class="things-item">
    <img src="https://i.grenka.ua/shop/1/5/810/playstation-neo-slim_062.png" alt="" class="thing-img">
    <span class="thing-name">Playstation 4</span>
    <span class="thing-price">10500<span class="thin-current">грн</span></span>
</li>

<li class="things-item">
    <img src="https://enter.online/images/detailed/49/apple_series3_mqkv2_1.png" alt="" class="thing-img">
    <span class="thing-name">Soundbar</span>
    <span class="thing-price">6000<span class="thin-current">грн</span></span>
</li>