<li class="things-item">
    <img src="https://ya-webdesign.com/transparent250_/jbl-speaker-png-12.png" alt="" class="thing-img">
    <span class="thing-name">JBL</span>
    <span class="thing-price">2000<span class="thin-current">грн</span></span>
</li>