.choose-this{  
  background-image: url("./adv-images/+.png");
  background-repeat: no-repeat;
  background-position: center; 
}

/* ._ {
  font-size: 24px;
  font-family: "Roboto";
  color: rgb(187, 187, 187);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 66.268px;
  top: 214.1px;
  z-index: 172;
} */

.adv-modal-main{
 
}

.adv-modal{
  position: relative;
  width: 280px;  
  background: rgb(255, 255, 255);
  box-shadow: 0px 8px 24px 0px rgba(29, 29, 27, 0.1);
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.adv-modal__overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.302);  
  
}

.adv-modal__close-btn{
  position: absolute;
  top: 22px;
  right: 16px;
  background-color: transparent;
  border: none;
  width: 14px;
  height: 14px;
  background-image: url('../../assets/icons/close/close-24px.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.adv-modal__form--title{
  font-family: 'MontserratBold';
  font-size: 18px;  
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: start; 
  margin-bottom: 25px;
  margin-left: 18px;  
}

.adv-modal__form{
display: flex;
flex-flow: column;
align-items: center;
justify-content: space-between;
}



.adv-modal__product-name-title,
.adv-modal__product-description-title,
.adv-modal__product-select-title,
.adv-modal__product-price-title,
.adv-modal__product-telephone-number-title{
  display: none;
}

.input{  
  font-size: 14px;
  font-weight: 700;
  width: 246px;
  height: 48px;
  line-height: 1.2;
  border: 1px solid rgb(206, 210, 209);
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.input::placeholder{
  font-family: 'MontserratSemiBold';
  font-size: 14px; 
  line-height: 1.2;
  color: rgb(187, 187, 187);
}

.adv-modal__product-name,
.adv-modal__product-description,
.adv-modal__product-price,
.adv-modal__product-telephone-number{
  font-size: 14px;
  font-family: 'MontserratMedium'; 
  padding-left: 18px;
  /* color: rgb(187, 187, 187);   */
}

.adv-modal__product-photos{
  width: 246px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.adv-modal__product-photos-item:not(:nth-last-child(-n+3)){
  margin-bottom: 10px;
}

.photo-input{
  display: none;
}

.input-label{
  display: block;
  width: 75px;
  height: 59px;
  background-color: rgb(244, 246, 251);
}

.input-label__img{
  width: 76px;
  height: 60px;
  object-fit: cover;
}

.adv-modal__product-description{
  padding-top: 16px;
  padding-right: 20px;
}

/* .adv-modal__product-select .select-option:first-child{
  color: rgb(187, 187, 187);
} */

.adv-modal__product-select{
  appearance: none;
  color: rgb(187, 187, 187);
  font-size: 14px;
  font-family: 'MontserratMedium'; 
  padding-left: 18px;
  background-image: url(./adv-images/Icon drop down.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.adv-modal__product-telephone-number{
  margin-bottom: 30px;
}

.add-product-btn{  
  width: 248px;
  height: 50px;
  background-color: rgb(255, 107, 8);
  font-family: 'MontserratMedium';
  font-size: 16px;  
  color: rgb(255, 255, 255);
  line-height: 50px;
  border: none;
  text-align: center;
}

@media (min-width: 768px) {

  .adv-modal{
    width: 720px;       
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.25);   
  }

  .input{  
    font-size: 16px;
    font-weight: 700;
    width: 458px;
    height: 57px;
  }

  .adv-modal__product-name-title,
  .adv-modal__product-description-title,
  .adv-modal__product-price-title,
  .adv-modal__product-telephone-number-title{
  display: block;
  }

  .adv-modal__product-photos{
    width: 458px;    
  }

  .input-label{   
    width: 72px;
    height: 56px;    
  }
 

}

