<li class="categories-filter__item">
    <button data-category="property" class="categories-filter__item--btn">Недвижимость</button>
</li>
<li class="categories-filter__item">
    <button data-category="transport" class="categories-filter__item--btn">Транспорт</button>
</li>
<li class="categories-filter__item">
    <button data-category="work" class="categories-filter__item--btn">Работа</button>
</li>
<li class="categories-filter__item">
    <button data-category="electronics" class="categories-filter__item--btn">Электроника</button>
</li>
<li class="categories-filter__item">
    <button data-category="business-and-services" class="categories-filter__item--btn">
        Бизнес и услуги
    </button>
</li>
<li class="categories-filter__item">
    <button data-category="recreation-and-sports" class="categories-filter__item--btn">
        Отдых и спорт
    </button>
</li>
<li class="categories-filter__item">
    <button data-category="for-free" class="categories-filter__item--btn">
        Отдам бесплатно
    </button>
</li>
<li class="categories-filter__item">
    <button data-category="exchange" class="categories-filter__item--btn">Обмен</button>
</li>