.category-list {
  padding: 54px 0 80px;
}
.category-info {
  margin-bottom: 20px;
}
.category-name {
  font-size: 20px;
  font-family: 'Montserrat';
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-right: 12px;
}
.view-all {
  text-decoration: underline;
  font-size: 12px;
  font-family: 'Montserrat';
  color: rgb(255, 107, 8);
  text-decoration: underline;
  line-height: 1.2;
  text-align: left;
}
.category-description {
  font-size: 12px;
  font-family: 'Montserrat';
  color: rgb(168, 168, 168);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 26px;
}
.basket {
  display: none;
}
@media (max-width: 767px) {
  .categories {
    position: relative;
  }
  .slide-things {
    display: none;
  }
  .basket {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #ff6b08;
    box-shadow: 0px 8px 8px 0px rgba(233, 97, 5, 0.24);
    position: fixed;
    right: 22px;
    top: 414px;
    outline: none;
  }
  .basket::after {
    content: '+';
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .category-list {
    position: relative;
  }
  .slide-prev {
    background-color: rgb(244, 244, 244);
    box-shadow: 2.5px 4.33px 10px 0px rgba(29, 29, 27, 0.11);
    width: 32px;
    height: 60px;
    border: none;
    outline: none;
    background-image: url(../images/prev.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 200ms linear;
  }
  .slide-prev:hover {
    background-color: rgb(233, 97, 5);
  }
  .slide-next {
    background-color: rgb(244, 244, 244);
    box-shadow: 2.5px 4.33px 10px 0px rgba(29, 29, 27, 0.11);
    width: 32px;
    height: 60px;
    border: none;
    outline: none;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 200ms linear;
  }
  .slide-next:hover {
    background-color: rgb(233, 97, 5);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .slide-things {
    width: 688px;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
  }
}
@media (min-width: 1280px) {
  .slide-things {
    width: 1200px;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
  }
}
/* =======================things-item=========================== */
@media (max-width: 767px) {
  .things-list {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 768px) {
  .things-list {
    padding: 2px 0px;
  }
  .things-item {
    display: block;
    margin: 0 auto;
    width: 333px;
    height: 305px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  }
}
.things-item {
  width: 280px;
  height: 305px;
  padding: 20px 0px;
}
.thing-img {
  object-fit: cover;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}
.thing-name {
  display: block;
  font-size: 12px;
  font-family: 'Montserrat';
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.thing-price {
  display: block;
  font-size: 12px;
  font-family: 'Montserrat';
  color: rgb(233, 97, 5);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
