.authorization {
  font-family: 'MontserratRegular';
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.authorization h4 {
  font-size: 10px;
  margin-bottom: 20px;
}

.authorization input {
  margin: 0 auto;
  width: 246px;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  border: 1px solid #ced2d1;
  font-weight: 600;
}

::placeholder {
  color: #ced2d1;
}

.authorization button {
  text-align: center;
  text-transform: uppercase;
  width: 114px;
  height: 50px;
  font-size: 12px;
  font-weight: 900;
  margin-bottom: 30px;
}

.sign-in-button,
.reg-button {
  background-color: #ff6b08;
  color: #fff;
  border: none;
}

.sign-in-button:hover,
.reg-button:hover {
  background-color: #e96105;
}

.cancel-button,
.to-reg-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #ced2d1;
}

.cancel-button:hover,
.to-reg-button:hover {
  border: 1px solid #000;
}
