<form class="auth-form-sign-in" name="userSignIn">
  <br><input type="email" placeholder="E-mail" name="email" required />
  <br><input type="text" placeholder="Пароль" name="password" required />
  <br><button type="submit" class="sign-in-button">Войти</button>
</form>