<div class="auth-modal">

  <button type="button" class="auth-modal__close-btn"></button>

  <h2 class="auth-modal__form--title">Регистрация</h2>

  <form class="auth-modal__form auth-form-sign-up" name="userSignUp">

    <input class="auth-modal__input" type="text" placeholder="Имя" name="firstName" minlength="2" required />

    <input class="auth-modal__input" type="text" placeholder="Фамилия" name="secondName" minlength="2" required />

    <input class="auth-modal__input" type="email" placeholder="E-mail" name="email" minlength="5" required />

    <input class="auth-modal__input" type="tel" placeholder="Телефон: +3809********" name="phone" pattern="[\+]\d{12}"
      required />

    <input class="auth-modal__input" type="password" placeholder="Пароль" name="password" minlength="6" required />

    <input class="auth-modal__input-repeat" type="password" placeholder="Повтор пароля" name="passwordRepeat"
      minlength="6" required />

    <button type="submit" class="auth-modal__submit-btn">Зарегистрироваться</button>
  </form>
</div>