<div class="auth-modal-err">

  <button type="button" class="auth-modal-err__close-btn"></button>

  <h2 class="auth-modal-err__form--title">Ошибка</h2>

  <p class="auth-modal-err__text">Пользователь не существует или неверный пароль</p>

</div>