<form class="auth-form-sign-up" name="userSignUp">
  <br><input type="text" placeholder="Имя" name="firstName" minlength="2" required />
  <br><input type="text" placeholder="Фамилия" name="secondName" minlength="2" required />
  <br><input type="email" placeholder="Эмейл" name="email" minlength="5" required />
  <br><input type="text" placeholder="Телефон: 380xxxxxxxx" name="phone" pattern="[0-9]{12}" required />
  <br><input type="password" placeholder="Пароль" name="password" minlength="6" required />
  <br><input type="password" placeholder="Повторите пароль" name="passwordRepeat" minlength="6" required />
  <br><button type="submit" class="reg-button">Зарегистрироваться</button>
</form>