<div class="modal-wrapper-test">
    <div class="item_modal--mobile">
        <button class="icon-arrow"></button>
        <div class="item_modal--slider-s">
            <h3 class="item_modal--header">Здесь будет название</h3>
            <p class="item_modal--item-codename">Код товара | <span class="item_modal--item-code">код товара</span></p>

            <p class="item_modal--item-price"><span class="item_modal--item-pricevalue"> цена товара </span>грн
            </p>

            <div class="siema item_modal--imageholder">
                <img class="item_modal--slider_s-img_big " src="здесь URL будет картинки">
                <img class="item_modal--slider_s-img_big " src="здесь URL будет картинки">
                <img class="item_modal--slider_s-img_big " src="здесь URL будет картинки">
                <img class="item_modal--slider_s-img_big " src="здесь URL будет картинки">
            </div>
            <button class="item_modal--button-buy">В корзину</button>

            <ul class="item_modal--icons">
                <li class="item_modal--button-fav"><button class="icon-fav"></button>В избранное</li>
                {{!-- <li class="item_modal--button-subsc"><button class="icon-subsc"></button>Подписаться</li> --}}
            </ul>

            <div class="item_modal-seller">
                <p class="item_modal-seller--header">Продавец: <span class="item_modal-seller--name">Имя</span></p>
                <p class="item_modal-seller--tel">+38(095)000-00-00</p>
            </div>
            <p class="item_modal--desc-header">Описание</p>
            <p class="item_modal--desc">здесь будет описание товара здесь будет описание товара здесь будет описание
                товара
            </p>

        </div>
    </div>