.line-1::after {
  content: url(../images/vertical-line.png);
  margin-left: 5px;
  margin-right: 5px;
}

.footer-text {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 46px;
  padding-bottom: 46px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.mt {
  margin-top: 16px;
}

 @media (min-width: 768px) {
   .line-2::after {
     content: url(../images/vertical-line.png);
     margin-left: 8px;
     margin-right: 5px;
     margin-top: 0;
   }

   p {
     display: inline-block;
   }

  .footer-text {
    margin-top: 36px;
    padding-bottom: 46px;
    text-align: center;
  }
 }

 @media (min-width: 1280px) {
  .footer-text {
    margin-top: 40px;
    padding-bottom: 36px;
  }
 }
