.footer {
  background-color: #1e2939;
  color: #767e85;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 42px 0 42px 0;
  text-align: center;
}

.line-1::after {
  position: absolute;
  content: url(../images/vertical-line.png);
  margin-top: -5px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .line-1::after {
    position: absolute;
    content: url(../images/vertical-line.png);
  }

  .line-2::after {
    position: absolute;
    content: url(../images/vertical-line.png);
    margin-top: -5px;
   }

   p {
    display: inline-block;
   }

  .footer {
    padding: 66px 0 66px 0;
  }
 }
