.footer-text {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  margin-top: 46px;
  padding-bottom: 46px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.mt {
  margin-top: 16px;
}
