{{!-- {{#each}} --}}
<li class="block-item">
    <div class="item-main-info">
        <img src="https://enter.online/images/detailed/49/apple_series3_mqkv2_1.png" alt="#" class="item-img">
        <div class="item-info">
            <span class="item-name">Smart Watch</span>
            <span class="item-price"><span class="item-currency">грн</span>799</span>
            {{!-- <button class="buy">Купить</button> --}}
        </div>
    </div>

</li>
{{!-- {{/each}} --}}


{{!-- =========для_прикладу====== --}}
<li class="block-item">
    <div class="item-main-info">
        <img src="http://servicecenter.zp.ua/wp-content/uploads/2016/12/ipad.png.pagespeed.ce.kfZh7C44-i@2x.png" alt="#"
            class="item-img">
        <div class="item-info">
            <span class="item-name">Ipad</span>
            <span class="item-price"><span class="item-currency">грн</span>2000</span>
            {{!-- <button class="buy">Купить</button> --}}
        </div>
    </div>

</li>