{{!-- {{#each}} --}}
<li class="block-item">
    <div class="item-main-info">
        <img src="https://enter.online/images/detailed/49/apple_series3_mqkv2_1.png" alt="#" class="item-img">
        <div class="item-info">
            <span class="item-name">Smart Watch</span>
            <span class="item-price"><span class="item-currency">грн</span>799</span>
        </div>
    </div>
    <button class="buy">Купить</button>
</li>

{{!-- {{/each}} --}}